* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: hsl(0deg, 100%, 74%);
}

.wrapper {
  padding: 4.5em 2em;
}
.wrapper .intro {
  text-align: center;
}
.wrapper .intro__text--heading {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  padding-bottom: 1em;
}
.wrapper .intro__text--normal {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 3.5em;
}
.wrapper .trial-container {
  cursor: pointer;
  text-align: center;
  background-color: hsl(248deg, 32%, 49%);
  color: #fff;
  border-radius: 10px;
  padding: 1em 0;
  -webkit-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.19);
  margin-bottom: 1.5em;
}
.wrapper .trial-container .trial-text span {
  font-weight: 700;
}
.wrapper .input-wrapper {
  background-color: #fff;
  padding: 1em 1em;
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.19);
}
.wrapper .input-wrapper .input-container {
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  position: relative;
}
.wrapper .input-wrapper .input-container input {
  padding: 1.4em 1em;
  width: 100%;
  border-radius: 5px;
  border: 1px solid hsl(247deg, 29%, 88%);
  font-weight: 700;
  outline: none;
}
.wrapper .input-wrapper .input-container input:focus {
  border: 1px solid hsl(247deg, 14%, 62%);
}
.wrapper .input-wrapper .input-container p {
  display: none;
  font-size: 0.7rem;
  text-align: right;
  padding-top: 0.5em;
  padding-right: 0.5em;
  color: hsl(0deg, 100%, 74%);
  font-weight: 600;
}
.wrapper .input-wrapper .input-container .error-icon {
  position: absolute;
  top: 27%;
  right: 7%;
  display: none;
}
.wrapper .input-wrapper .submit-btn {
  width: 100%;
  border-radius: 5px;
  padding: 1.5em;
  display: block;
  margin: auto;
  background-color: hsl(154deg, 59%, 51%);
  -webkit-box-shadow: 0px 3px 0px 0px rgb(40, 165, 134);
          box-shadow: 0px 3px 0px 0px rgb(40, 165, 134);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}
.wrapper .input-wrapper .input-container.error .error-icon {
  display: block;
}
.wrapper .input-wrapper .input-container.error p {
  display: block;
}
.wrapper .input-wrapper .input-container.error input {
  border: 1px solid hsl(0deg, 100%, 74%);
  color: hsl(0deg, 100%, 74%);
}
.wrapper .input-wrapper .terms-container {
  text-align: center;
  font-size: 0.6rem;
  color: hsl(246deg, 25%, 77%);
  padding: 1em 1.4em;
  font-weight: 700;
}
.wrapper .input-wrapper .terms-container span {
  color: hsl(0deg, 100%, 74%);
}

footer a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 625px) {
  .attribution {
    display: none;
  }
}
@media (min-width: 626px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
  }
  body .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .wrapper .signup-container {
    width: 50%;
    margin-left: 1em;
  }
  body .wrapper .intro {
    text-align: left;
    width: 50%;
    margin-right: 1em;
  }
  body .wrapper .intro .intro__text--heading {
    font-size: 3rem;
    padding-bottom: 0.5em;
  }
}/*# sourceMappingURL=style.css.map */