* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/images/bg-intro-mobile.png);
  background-color: hsl(0, 100%, 74%);
}

.wrapper {
  padding: 4.5em 2em;

  .intro {
    text-align: center;

    &__text--heading {
      color: white;
      font-size: 1.7rem;
      font-weight: 700;
      padding-bottom: 1em;
    }

    &__text--normal {
      color: white;
      font-size: .9rem;
      font-weight: 500;
      padding-bottom: 3.5em;
    }
  }

  .trial-container {
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    color: #fff;
    border-radius: 10px;
    padding: 1em 0;
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.19);
    margin-bottom: 1em;

    .trial-text {
      span {
        font-weight: 700;
      }
    }
  }
}
